* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.part-1 {
  width: 25%;
  padding: 40px;
  background-color: rgb(237, 156, 5);
  border-radius: 5px 0 0 5px;
}
.part-2 {
  width: 25%;
  padding: 40px;
  background-color: rgb(41, 83, 103);
}
.part-3 {
  width: 25%;
  padding: 40px;
  background-color: rgb(27, 46, 27);
  border-radius: 0 5px 5px 0;
}
.part {
  display: flex;
  border-radius: 5px;
  margin-left: 250px;
  margin-top: 100px;
}
.part h1 {
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 25px;
  letter-spacing: 0px;
}
.part p {
  font-size: 18px;
  padding-top: 20px;
  color: white;
  line-height: 25px;
}
button {
  margin-top: 70px;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
}
button:hover {
  cursor: pointer;
}
.btn1 {
  color: orange;
  font-weight: bold;
}
.btn2 {
  color: rgb(41, 83, 103);
  font-weight: bold;
}
.btn3 {
  color: rgb(27, 46, 27);
  font-weight: bold;
}
span {
  background-color: rgb(71, 71, 71);
  width: 2%;
  height: 25px;
  border-radius: 50%;
  position: absolute;
}
span i {
  padding-left: 17px;
  padding-top: 3px;
}
@media screen and (max-width: 800px) {
  .part {
    display: block;
    margin: 90px;
    width: 60%;
  }
  .part p {
    font-size: 40px;
    line-height: 40px;
  }
  .part h1 {
    font-size: 30px;
  }
  .part-1 {
    width: 100%;
  }
  .part-2 {
    width: 100%;
  }
  .part-3 {
    width: 100%;
  }
  span {
    height: 30px;
    width: 4%;
  }
  span i {
    font-size: 25px;
  }
  button {
    font-size: 23px;
    padding: 20px 55px;
    margin-top: 120px;
  }
}
